:root {
    --primary-color: #f9d6d0ff;
    --secondary-color: #00ffff;
    --white: #fff;
    --black: #000;
    --primary-font: 'Poppins', sans-serif;
}

/* card */
.card {
    width: 85%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 25px; /* Added */
}

/* button */
.btn.btn-primary {
    border: var(--secondary-color) 1px solid;
}

.btn.btn-primary:hover {
    border: var(--primary-color) 1px solid;
    background: var(--primary-color);
    color: var(--black)
}

/* RESPONSIVE WEBSITE CSS CODE */
@media (max-width: 991px) {

    .card {
        width: 50%;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 25px; /* Added */
    }

}