* {
    background: #e3e2df;
    color: #5d001e;
}

input {
    background: #5d001e;
    color: #e3e2df;
    padding: 5px;
}

h1 {
    background: #5d001e;
    color: #e3e2df;
    padding: 5px;
    width: auto;
}

p {
  width: 95%;
}

footer {
    text-align: center;
}